body{
	background-color: darkgray;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header{
	background-color: coral;
	color: white;
}

#navbar{
	background-color: grey;
	color: white;
}

#navbar ul{
	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
	color: white;
	text-decoration: nonne;
	font-size: 18px;
	padding: 15px;
}

#showcase h1{
	color: white;
	font-size: 50px;
	line-height: 1.6em;
	padding-top: 30px;
	margin-left: 300px;
}

#main{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
}

#showcase{
	background-image:url('C:/Users/nilsm/Desktop/fast alle order/PC-zeug/CodingStuff/Robo/websiteshit/mywebsite/images/showcase.jpg');
	background-position:center center;
	min-height: 300px;
	text-align: center;
}

#sidebar{
	float: right;
	width: 30%;
	background: gray;
	color: white;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 67px;
}

#footer{
	text-align: center;
	font-size: 50px;
	margin-top: 150px;
	border: 50px;
}

#main-footer{
	background: darkgrey;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 500px;
}

@media(max-widt:600px){
	#main{
		float: none;
	}
}

@media(max-widt:600px){
	#sidebar{
		float: none;
	}
}