body
{
	background-color: darkgray;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*head*/
#main-header
{
	width: 100%;
	background-color: coral;
	color: white;
	display: inline-flex;
}

#main-header h1
{
	display: inline-flex;
	font-size: 6em;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 245px;
}

.oben
{
	padding-left: 0em;
	float: left;
	margin-top: 22px;
}

/*logo oben*/
.bildoben
{
	margin-top: -300px;
}

.imgNFR
{
	width: 200px;
	height: auto;
}

.LogoOben 
{
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
	/*margin-right: 1050px;*/
	margin-right: 55%;
}

.LogoOben .img-hover
{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.LogoOben:hover .img-hover
{
    display: inline;
}

/*NavBar*/
#navbar
{
	background-color: grey;
	background: rgba(0, 0, 0, .3);
	position: sticky;
	top: 20px;
}

#navbar li
{
	display: inline;
}

#navbar a
{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding: 20px;
}

nav ul li a:hover
{
	background: rgba(87, 86, 95, 0.664);
}

/*HauptÜberrschrift*/
#showcase
{
	background-image:url('C:/Users/nilsm/Desktop/fast alle order/PC-zeug/CodingStuff/Robo/websiteshit/mywebsite/images/showcase.jpg');
	background-position:center center;
	min-height: 300px;
	text-align: center;
}

/*HauptText*/
	/*Überschrift*/
#showcase h1
{
	color: white;
	font-size: 30px;
	line-height: 1.6em;
	padding-top: 30px;
}

/*
.emoji
{
	margin-top: 3em;
	margin-bottom: 1em;
}
*/

	/*HauptTextMiddle*/
#main
{
	float: left;
	width: 70%;
	padding: 0 30px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.mainleftTitel
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: whitesmoke;
}


/*sidebar*/
#sidebar
{
	float: right;
	width: 30%;
	background: gray;
	color: whitesmoke;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 67px;
}

#sidebar:hover
{
	background-color: rgb(101, 123, 143);
}

/*Robobilder*/
.robobild
{
	text-align: center;
}

/*Robobilder-Texte/Bezeichnungen*/
.bildtext
{
	text-align: center;
	margin-top: 0;
	margin-bottom: 20em;
}

/*Sie-Möchten-Uns-Erreichen?*/
#footer
{
	text-align: center;
	font-size: 16px;
	margin-top: 150px;
}

/*Trol-Bottom*/
#main-footer
{
	background: darkgrey;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 500px;
}

/*Für-HandyNutzer-> bessere Seitenansicht*/
@media(max-width:600px)
{
	#main
	{
		float: none;
	}
}

@media(max-width:600px)
{
	#sidebar
	{
		float: none;
	}
}